*{
    box-sizing:border-box ;
    padding: 0;
    margin: 0;
}
.html{
    font-size: 62.5%;
}

body 
{
    color: turquoise;    text-align: center;
    font-family: Arial;

}
.titulo{
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    color: bisque;
    background-color: blue;
}
.foot{
    width:100vw ;
    background-color: gray;
    box-sizing: border-box;
    font-size: 1rem;
}